---
title: Contact
---

%h1.page-title Contact Me

%h1
  Email:
  %a{:href => 'mailto:ben@benweissmann.com'} ben@benweissmann.com

%h1
  Twitter:
  %a{:href => 'https://twitter.com/benweissmann'} @benweissmann

%h1
  GitHub:
  %a{:href => 'https://github.com/benweissmann/'} github.com/benweissmann