---
title: Home
---

%h1 Me

%p Fuzzy. Software Engineer. Cook. Potter. Sailor. Fire Spinner.

%h1
  Projects
  = link_to "More &raquo;", "projects.html", :class => 'more'
%p
  Authenticated Polling. Mobile Communication. Writing Motivation. Karate Learning Tool. Ruby Game Framework.
  
%h1
  Résumé
  = link_to "More &raquo;", "resume.html", :class => 'more'
%p
  MIT. Twitter. TripAdvisor. MIT Media Lab. 

%h1
  Contact
  = link_to "More &raquo;", "contact.html", :class => 'more'
%p
  Email. Twitter. GitHub.
  