---
title: Home
footer: Photo by Rony Kubat.
---

%h1 Me

%p Fuzzy. Professional Software Engineer. Amateur Cook.

%h1
  Projects
  = link_to "More &raquo;", "projects.html", :class => 'more'
%p
  In-Memory Mongo Databases. Oplog mirroring to redis. Human-powered Data Analysis.

%h1
  Résumé
  = link_to "More &raquo;", "resume.html", :class => 'more'
%p
  Tulip. MIT. Twitter. TripAdvisor. MIT Media Lab.

%h1
  Contact
  = link_to "More &raquo;", "contact.html", :class => 'more'
%p
  Email. Twitter. GitHub.
