---
title: Résumé
---

%h1.page-title Résumé

%p
  %strong
    I am not currently looking for employment. Please do not contact me with
    recruitment messages.

%p
  %a{:href => 'resume-public.pdf'}
    %i.icon-download-alt
    Download as PDF

%iframe{:src => "http://docs.google.com/viewer?url=http%3A%2F%2Fbenweissmann.github.com%2Fresume-public.pdf?version=8&embedded=true", :width => "100%", :height => "780", :style => "border: none;"}
